<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StoreName</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
 
  <body>
    <%- include('header.ejs') %>
    <div id="news-ticker-container">
      <div id="news-ticker">
      </div>
    </div>
    
    <div class="banner-container">
      <div class="wrapper">
        <div class="wrapper-holder">
          <div id="slider-img-1" class="slider-img active"></div>
          <div id="slider-img-2" class="slider-img"></div>
          <div id="slider-img-3" class="slider-img"></div>
          <div id="slider-img-4" class="slider-img"></div>
        </div>
      </div>
    </div>


    <ul class="book-section">
      <div id="fantasy-banner"></div>

      <div class="fantasy">
        <div class="fantasy-books">
          <ul class="horizontal-list">
            <% if (fantasyBooks && fantasyBooks.length > 0) { %>
              <% fantasyBooks.slice(0, 4).forEach(book => { %>
                <li>
                  <h3 class="book-title"><%= book.Book_Name %></h3><br>
                  <% if (book.Image) { %>
                    <a href="/bookpage/<%= encodeURIComponent(book.Book_Name) %>">
                      <img class="bookimg" href="/bookpage/<%= encodeURIComponent(book.Book_Name) %>" src="<%= book.Image %>" alt="<%= book.Book_Name %>">
                      </a>
                  <% } %><br>
                  <p>Author: <%= book.Author %></p>
                  <p>Release Date: <%= book.Year %></p>
                </li>
              <% }) %>
            <% } else { %>
              <li>No fantasy books available at the moment.</li>
            <% } %>
          </ul>
          <div class="view-all">
              <button id="fantasy">View All</button>
          </div>
        </div>
      </div>

      <div id="horror-banner"></div>
      <div class="fantasy">
        <div class="fantasy-books">
          <ul class="horizontal-list">
            <% if (horrorBooks && horrorBooks.length > 0) { %>
              <% horrorBooks.slice(0, 4).forEach(book => { %>
                <li>
                  <h3 class="book-title"><%= book.Book_Name %></h3><br>
                  <% if (book.Image) { %>
                    <a href="/bookpage/<%= encodeURIComponent(book.Book_Name) %>">
                      <img class="bookimg" href="/bookpage/<%= encodeURIComponent(book.Book_Name) %>" src="<%= book.Image %>" alt="<%= book.Book_Name %>">
                      </a>
                  <% } %><br>
                  <p>Author: <%= book.Author %></p>
                  <p>Release Date: <%= book.Year %></p>
                </li>
              <% }) %>
            <% } else { %>
              <li>No fantasy books available at the moment.</li>
            <% } %>
          </ul>
          <div class="view-all">
              <button id="horror">View All</button>
          </div>
        </div>
      </div>
      
      <div id="fiction-banner"></div>
      <div class="fantasy">
        <div class="fantasy-books">
          <ul class="horizontal-list">
            <% if (fictionBooks && fictionBooks.length > 0) { %>
              <% fictionBooks.slice(0, 4).forEach(book => { %>
                <li>
                  <h3 class="book-title"><%= book.Book_Name %></h3><br>
                  <% if (book.Image) { %>
                    <a href="/bookpage/<%= encodeURIComponent(book.Book_Name) %>">
                      <img class="bookimg" href="/bookpage/<%= encodeURIComponent(book.Book_Name) %>" src="<%= book.Image %>" alt="<%= book.Book_Name %>">
                      </a>
                  <% } %><br>
                  <p>Author: <%= book.Author %></p>
                  <p>Release Date: <%= book.Year %></p>
                </li>
              <% }) %>
            <% } else { %>
              <li>No fantasy books available at the moment.</li>
            <% } %>
          </ul>
          <div class="view-all">
              <button id="fiction">View All</button>
          </div>
        </div>
      </div>  
    </ul>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
  </body>
</html>
