<!DOCTYPE html>
<html>
<head>
    <title>Order History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/order.css">
</head>
<body>
    <%- include('header.ejs') %>
    <div class="order-container">
        <h2 class="oredr-title">Order History</h2>
        <% orders.forEach(order => { %>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Order Date: <%= order.Date.toDateString() %></h5>
                    <p class="card-text">Total Price: $<%= order.Total_Price %></p>
                    <ul>
                        <% order.Order_Books.forEach(item => { %>
                            <% if (item.book) { %>
                                <li><%= item.book.Book_Name %> - Quantity: <%= item.quantity %></li>
                            <% } %>
                        <% }) %>
                    </ul>
                </div>
            </div>
        <% }) %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>